# Vault
VAULT_ADDR=http://127.0.0.1:8200
VAULT_TOKEN=your-dev-root-token-here

# Gemini
GEMINI_API_KEY=your-gemini-api-key-here

# Groq
GROQ_API_KEY=your-groq-api-key-here

# SOPS / age
SOPS_AGE_KEY_FILE=C:\Users\cowshik.eswaramoorth\vault\key.txt
AGE_PUBLIC_KEY=your-age-public-key-here